.main {
  display: flex;
  justify-content: center;
}

/* .color_picker {
  width: 400px;
  height: 400px;
  padding: 15px 5px;

  border: 1px solid #ccc;
  border-radius: 10px;
}

.hue_slider {
  width: 400px;
}

.hue_slider_vertical {
  height: 200px;
}

.saturation_value {
  width: 400px;
  height: 400px;
} */

.label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

.input {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form_control {
  margin-bottom: 20px;
}
.error {
  color: red;
}

.btn {
  border-radius: 25px;
  width: 110px;
  height: 25px;
  background-color: brown;
  color: white;
}
