.dropdown {
  width: 400px;
  position: relative;
  margin: 100px auto;
}

.dropdown_btn {
  padding: 10px;
  background-color: black;
  box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color:white;
border-radius: 25px;
  width: 400px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown_content {
  position: absolute;
  top: 110%;
  left: 0%;
  padding: 10px;
  background: rgb(230 167 26);
  box-shadow: 3px 5px 10px 6px (0, 0, 0, 0.06);
  border-radius: 25px;
  font-weight: bold;
  color: #333;
  width: 400px;
}

.dropdown_item {
  height: 85px;
  padding: 10px;
  cursor: pointer;
  transition: alt 0.2s;
}

.dropdown_item:hover {
  background: #f4f4f4fe;
}

.reset_btn {
  position: absolute;
  right: 0%;
  top: 60%;
  left: 102%;
  padding: 9px;
  border: 2px solid;
  font-weight: bold;
  border-radius: 25px;
}
.span {
  border: 2px solid;
  padding: 7px;
  font-weight: bold;
  width: 400px;
  border-radius: 25px;
}
