@mixin common {
  border-radius: 25px;
  width: 400px;
  font-weight: bold;
}

$box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.06);

@function padding($padd) {
  @return $padd + px;
}

.dropdown {
  @include common();
  position: relative;
  margin: 100px auto;

  .span {
    border: 2px solid;
    padding: padding(7);
    @include common();
  }
  .reset_btn {
    position: absolute;
    right: 0%;
    top: 60%;
    left: 102%;
    padding: padding(9);
    border: 2px solid;
    border-radius: 25px;
    color: black;
    font-weight: bold;
  }
  .dropdown_btn {
    padding: 10px;
    background-color: black;
    box-shadow: $box-shadow;
    color: white;
    @include common();
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
  }

  .dropdown_content {
    position: absolute;
    top: 110%;
    left: 0%;
    padding: padding(10);
    background: rgb(230 167 26);
    box-shadow: $box-shadow;
    color: #333;
    @include common();
  }

  .dropdown_item {
    height: 85px;
    padding: padding(10);
    cursor: pointer;
    transition: alt 0.2s;
    &:hover {
      background: #f4f4f4fe;
    }
  }
}
