/* .dropdown-wrapper {
  display: block;
  width: 304px;
  border-radius: 12px;
}

input {
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: whitesmoke;
  height: 50px;
}

.dropdown-input:focus {
  border: blue;
}
.dropdown {
  width: 304px;
  border-radius: 0px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  height: 53px;
}

.dropdown-input:hover {
  border: black solid 1px;
} */
/* .dropdown:focus {
  border-color: blue solid 1px;
} */

/* .dropdown-header {
  padding: 15px;
  cursor: pointer;
} */
/* .dropdown-body {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: block;
}
.dropdown-items {
  padding: 15px;
} */

 .dropdown {
  height: auto;
  width: 30%;
  display: block;
  position: fixed;
  top: 35%;
  left: 32%;
}

.dropdown-header {
  position: relative;
  height: 45px;
}

.dropdown-input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 25px;
  font-size: 15px;
  outline: none;
}

.dropdown-input:hover {
  border-color: black;
}
.dropdown-input:focus {
  border-color: blue;
}
.dropdown-body {
  padding: 30px;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 3px 4px 10px -6px;
  background-color: #eff957;
  margin: 5px;
}

.dropdown-items {
  padding: 5px;
  font-size: 18px;
} 

/* .dropdown {
  width: 400px;
  position: relative;
  margin: 100px auto;
}

.dropdown_btn {
  padding: 10px;
  background-color: #fff;
  box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  width: 400px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown_content {
  position: absolute;
  top: 110%;
  left: 0%;
  padding: 10px;
  background: rgb(184, 174, 174);
  box-shadow: 3px 5px 10px 6px (0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  width: 400px;
}

.dropdown_item {
  padding: 10px;
  cursor: pointer;
  transition: alt 0.2s;
}

.dropdown_item:hover {
  background: #f4f4f4fe;
}

.reset_btn {
  position: absolute;
  right: 0%;
  top: 4%;
  left: 102%;
  padding: 9px;
  border: 2px solid;
  font-weight: bold;
}
.span {
  border: 2px solid;
  padding: 7px;
  font-weight: bold;
  width: 400px;
}
 */